header {
    background-color: var(--CorSecundaria);
    width: 100%;
    height: 10vh;
    padding-top: 4%;
}

main {
    width: 100%;
    height: 100%;
}

#main {
    display: none;
    width: 100%;
    height: 100%;
    background-color: var(--CorPrincipal);
}

#display {
    height: 87vh;
}

section {
    width: 100%;
    height: 100% !important;
}
.container {
    margin: 20px auto;
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.switch {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    height: 50%;
    width: 75%;
}

.button {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: opendislexicregular;
    height: 50%;
    width: 75%;
}

#h {
    height: 150px;
    width: 90%;
    margin: auto;
    margin-top: 15px;
    border-radius: 10px;
    background-color: var(--CorPrincipal);
    text-align: center;
    font-size: var(--Titulos);
    color: var(--CorFonte);
    padding-top: 62px;
    font-weight: var(--GrossuraDaFonte);
}

embed,
iframe,
img,
object,
video {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
    margin: 0;
    padding-right: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

a:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
}


ol,
ul {
    list-style: none;
}

input,
textarea,
button {
    border: 0;
    border-radius: 0;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    outline: none;
    appearance: none;
    text-align: left;
}

input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus,
button:hover,
button:active,
button:focus {
    outline: none;
}

:root {
    font-family: Helvetica, Arial, sans-serif;
}

html {
    font-size: 175%;
    font-weight: 300;
    line-height: 1.3;
}

body {
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    background-color: var(--CorCorpo);
    opacity: 1;
    width: 100%;
    height: 100%;
}

.container {
    max-width: 20em;
}

.container>p {
    text-align: center;
}

.calculator {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    max-width: 100%;
    overflow: hidden;
  }

.calculator__display {
    background-color: var(--CorPrincipal);
    color: var(--CorFonte);
    font-size: 1.714285714em;
    padding: 0.5em 0.75em;
    text-align: right;
}

.calculator__keys {
    background-color: var(--CorSecundaria);
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
}

.calculator__keys>* {
    background-color: var(--CorFonte);
    padding: 0.5em 1.25em;
    position: relative;
    text-align: center;
}

.calculator__keys>*:active::before,
.calculator__keys>.is-depressed::before {
    background-color: var(--CorFonte);
    bottom: 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
    content: "";
    left: 0;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.key--operator {
    background-color: var(--CorSecundaria);
}

.key--equal {
    background-color: var(--CorCorpo);
    grid-column: -2;
    grid-row: 2 / span 4;
}

#cabecao {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    width: 80% !important;
    height: 100% !important;
    margin: auto !important;
    align-items: center !important;
    align-content: center !important;
}

#ftperfil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 14px;
}