body{
    height: 1200px !important;
}
#ona{
    width: 600px !important;
    height: 600px !important;
    display: flex !important;
    flex-direction: column !important;
}
#ano{
    width: 300px !important;
    height: 300px !important;
    display: flex !important;
}
.display{
    display: flex !important;
    width: 100% !important;
    height: 20% !important;
}
.meses{
    height: 100% !important;
    width: 100% !important;
    background-color: var(--CorFonte) !important;
    min-width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    text-align: center !important;
}
.dias{
    width: 15% !important;
    height: 100% !important;
    border: 2px solid var(--CorPrincipal) !important;
    text-align: center !important;
}
label{
    margin: 20px !important;
    width: 20px !important;
    height: 20px !important;
}
input{
    display: none !important;
}
#bcinco{
    background-color: yellow !important;
}
#bvinteoito{
    background-color: red !important;
}
button{
    display: none !important;
}
